<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Importance</th>
        <th>Assignment</th>
        <th>Description</th>
        <th>#</th>
      </tr>
      <tr *ngFor="let task of (tasks | async).tasks;">
        <td>{{task.id}}</td>
        <td>{{task.name}}</td>
        <td #import>{{task.importance | pImportance : import}}</td>
        <td #assgn>{{task.isAssign | pAssignment : assgn}}</td>
        <td>{{task.description}}</td>
        <td>
          <i class="fas fa-edit" [routerLink]="['../edit',task.id]"></i>
          <i class="fas fa-trash" (click)="onDelete(task.id)"></i>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-3 offset-9">
    <button mat-raised-button color="primary" [routerLink]="['../edit',0]">ADD TASK</button>
  </div>
</div>
